.routers-page {
    display: flex;
    flex: 1;
    width: 100%
}

.router-list-container {
    display: flex;
    padding: 0 20px;
    place-content: center;
    flex-direction: column;
}

h3 {
    align-self: flex-start;
    margin-bottom: 10px;
    text-decoration: underline;
}

.loading, .error {
    display: flex;
    place-content: center;
    color: blue;
    font-style: italic;
}

.error {
    color: red;
    font-weight: bold;
}

.routers-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.routers-title h3 {
    margin-top : 10px;
}

.filteredBy .select {
    margin-left: 5px;
}

.router-list {
    text-align: left;
    height: 500px;
    display: block;
    overflow-y: scroll;
}

.router-list th, .router-list td {
    border: 1px solid darkblue;
    padding: 10px;
    text-align: left;
}
.router-list-row {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    cursor: pointer;
}

.router-list-row:hover {
    background-color: lightblue;
}
.router-list-row.selected {
    background-color: rgb(101, 196, 227);
}

.details-overlay {
    width: 50%;
    display: flex;
    margin-left: 20px;
}
.details-container {
    display: flex;
    flex-direction: column;
}